<h1>Button twig example</h1>

<button type="button">
  JAMES
</button>

<section class="usa-hero" aria-label="Introduction">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        <span class="usa-hero__heading--alt">Heading alt</span>
      </h1>
      <p>Paragraph</p>
      <a class="usa-button" href="{{ hero.button.href }}">Button text</a>
    </div>
  </div>
</section>

{{ size }}
{{ label }}

<!-- View all variables -->
<!-- {{ dump() }} -->
