@import url(https://use.typekit.net/wfu7yyr.css);

body {
  font-family:
    proxima-nova,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: novel-pro, Georgia, Times, "Times New Roman", serif;
}

p {
  font-size: 20px;
  line-height: 1.6;
}
